Repository Nefariusek/CodersCamp2021.Project.React-Node, pull requests merged in 2022-03, with the labels that each got.

#172 Hotfix/issue 139 Error handler
  backend/src/app.js
  backend/src/middlewares/ExpressError.js
Labels: backend

#163 Feature/issue 59
  frontend/src/api/usePostData.js
  frontend/src/constants/restResources.js
Labels: feature, frontend, Node/Sprint_2

#162 Feature/issue 138
  backend/src/config/components/connectDB.js
  backend/src/index.js
  backend/src/routes/api/test.routes.js
Labels: feature, backend, Node/Sprint_2

#167 Add input and better presentation of the drug dosage in the application
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/AddDrug/addDrugValidation.js
  frontend/src/mock/drugs.js
  frontend/src/views/MyDrugsPage/MyDrugsPage.jsx
Labels: enhancement, frontend

#169 Feature/issue 154
  backend/src/__test__/models/User.test.js
  backend/src/__test__/routes/users.routes.test.js
  backend/src/app.js
  backend/src/middlewares/userMiddlewares.js
  backend/src/mocks/users.js
  backend/src/models/User.js
  backend/src/routes/api/users.routes.js
  backend/src/routes/index.js
Labels: feature, backend, Node/Sprint_2

#170 Feature/issue 160
  backend/src/__test__/models/User.test.js
  backend/src/__test__/routes/users.routes.test.js
  backend/src/app.js
  backend/src/middlewares/userMiddlewares.js
  backend/src/mocks/users.js
  backend/src/models/User.js
  backend/src/routes/api/profileRoutes.js
  backend/src/routes/api/users.routes.js
Labels: feature, backend, Node/Sprint_2

#175 change font color in a Pill to a more contrasting one
  frontend/src/components/Pill/Pill.module.scss
Labels: enhancement, frontend

#190 create postData function
  frontend/src/api/postData.js
Labels: feature, frontend, Node/Sprint_4

#193 Modify AddDrugForm (with its AddDrugModal) to be used for both adding and updating drugs
  frontend/src/components/AddOrUpdateDrug/DrugForm.jsx
  frontend/src/components/AddOrUpdateDrug/DrugModal.jsx
  frontend/src/components/AddOrUpdateDrug/drugValidation.js
  frontend/src/views/DailyView/DailyView.jsx
Labels: feature, enhancement, Node/Sprint_4

#191 Feature/issue 158
  backend/src/middlewares/medicationMiddlewares.js
  backend/src/routes/api/medicationRoutes.js
Labels: backend

#179 Feature/issue 159
  backend/src/constants/env.js
  backend/src/routes/api/medication.routes.js
Labels: backend

#198 install bcrypt library
  backend/package-lock.json
  backend/package.json
Labels: feature, backend, Node/Sprint_4

#197 Medication post route
  backend/src/constants/mockData.js
  backend/src/middlewares/medicationMiddlewares.js
  backend/src/routes/api/medicationRoutes.js
Labels: backend

#178 Feature/issue 149
  backend/src/mocks/meds.js
  backend/src/routes/api/profileRoutes.js
Labels: backend

#201 User login integration
  backend/package-lock.json
  backend/package.json
  backend/src/middlewares/userMiddlewares.js
  backend/src/models/User.js
  backend/src/routes/api/users.routes.js
  frontend/src/api/loginValidation.jsx
  frontend/src/components/LoginContext/LoginContext.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/LoginPage/LoginPage.jsx
Labels: feature, backend, frontend, P1, Node/Sprint_4

#168 Feature/issue 118
  frontend/src/components/ImageSlider/ImageSlider.scss
  frontend/src/constants/labels.js
  frontend/src/views/LandingPage/LandingPage.jsx
  frontend/src/views/LandingPage/LandingPage.scss
Labels: feature, enhancement

#205 Feature/issue 185
  backend/src/mocks/medicationCategories.js
  backend/src/models/MedicationCategory.js
  frontend/.eslintrc
  frontend/src/components/AddOrUpdateDrug/DrugForm.jsx
  frontend/src/components/LoginContext/LoginContext.jsx
Labels: P1

#203 add application screenshots to the image slider (release)
  frontend/public/slide-1.jpg
  frontend/public/slide-10.jpg
  frontend/public/slide-11.jpg
  frontend/public/slide-12.jpg
  frontend/public/slide-13.jpg
  frontend/public/slide-14.jpg
  frontend/public/slide-2.jpg
  frontend/public/slide-3.jpg
  frontend/public/slide-4.jpg
  frontend/public/slide-5.jpg
  frontend/public/slide-6.jpg
  frontend/public/slide-7.jpg
  frontend/public/slide-8.jpg
  frontend/public/slide-9.jpg
  frontend/src/__test__/model/Medication.test.jsx
  frontend/src/components/ImageSlider/imageData.js
Labels: enhancement, frontend
