Repository Nefariusek/CodersCamp2021.Project.React-Node, pull requests merged in 2022-02, with the labels that each got.

#48 Bug/issue 47
  frontend/src/views/HomePage/HomePage.scss
Labels: bug, frontend

#52 Unify CSS baseline for the entire application
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/AddDrug/AddDrugModal.jsx
  frontend/src/components/Auth/SignUp/SignUp.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/LandingPage/LandingPage.jsx
  frontend/src/views/LoginPage/LoginPage.jsx
  frontend/src/views/SignUpPage/SignUpPage.jsx
Labels: enhancement, frontend, React/Sprint_4

#54 small link fix and better image appearance
  frontend/src/components/Auth/SignUp/SignUp.jsx
  frontend/src/views/SignUpPage/SignUpPage.jsx
Labels: bug, frontend

#53 React swipe event handler hook
  frontend/package-lock.json
  frontend/package.json
Labels: feature, frontend, React/Sprint_4

#66 Attach Add drug modal/form to DailyView page
  frontend/src/views/DailyDrugsPage/DailyDrugsPage.jsx
  frontend/src/views/DailyView/DailyView.jsx
Labels: feature, frontend, React/Sprint_4

#73 Add Type of drug and Quantity fields in Add drug form
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/AddDrug/AddDrugModal.jsx
  frontend/src/components/AddDrug/addDrugValidation.js
Labels: feature, frontend, React/Sprint_4

#69 Change .jsx files for constants to .js
  frontend/src/constants/colors.js
  frontend/src/constants/labels.js
  frontend/src/constants/paths.js
Labels: enhancement, frontend

#79 fix bug
  frontend/src/components/Clock/Clock.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: bug

#77 Feature/issue 25
  frontend/src/components/Pill/Pill.jsx
  frontend/src/components/Pill/Pill.module.scss
Labels: frontend, React/Sprint_3

#81 add routing after registration to login page
  frontend/src/components/Auth/SignUp/SignUp.jsx
Labels: bug

#88 change the background color of inputs in dark theme
  frontend/src/components/DarkThemeContext/themeStyles.jsx
  frontend/src/constants/colors.js
Labels: frontend, React/Sprint_4

#89 further improvements of the add drug form
  frontend/public/pills.png
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/AddDrug/addDrugValidation.js
  frontend/src/components/DarkThemeContext/themeStyles.jsx
  frontend/src/constants/colors.js
  frontend/src/constants/images.js
  frontend/src/constants/medTypes.js
  frontend/src/constants/picklistValues.js
  frontend/src/mock/drugs.js
  frontend/src/views/CreditsPage/CreditsPage.jsx
Labels: bug, enhancement, frontend

#91 fix soon expiring
  frontend/src/components/SoonExpiring/SoonExpiring.jsx
  frontend/src/components/SoonExpiring/SoonExpiring.scss
  frontend/src/mock/drugs.js
  frontend/src/model/Medication.js
Labels: bug

#94 fix router
  frontend/src/index.jsx
Labels: bug, React/Sprint_4

#83 fix bug
  frontend/src/components/Pill/Pill.jsx
Labels: bug

#95 change app title in tab
  frontend/index.html
  frontend/src/components/Pill/Pill.jsx
Labels: enhancement

#96 fix the color on the calendar
  frontend/src/components/DarkThemeContext/themeStyles.jsx
  frontend/src/constants/colors.js
Labels: bug, frontend, React/Sprint_4

#107 Add useGet custom hook
  frontend/src/api/useGet.js
Labels: feature

#130 Feature/issue 111
  backend/resource/bandage-solid.svg
  backend/resource/eye-dropper-solid.svg
  backend/resource/flask-solid.svg
  backend/resource/joint-solid.svg
  backend/resource/lungs-solid.svg
  backend/resource/pills-solid.svg
  backend/resource/syringe-solid.svg
  backend/src/__test__/models/MedicationCategory.test.js
  backend/src/constants/MedicationCategory/medsIcons.js
  backend/src/constants/MedicationCategory/medsUnits.js
  backend/src/constants/MedicationCategory/pillColors.js
  backend/src/models/MedicationCategory.js
  frontend/package-lock.json
Labels: backend, Node/Sprint_1

#133 Model/issue 109 - Profile schema
  backend/src/__test__/models/Profile.test.js
  backend/src/models/MedicationCategory.js
  backend/src/models/Profile.js
Labels: backend, Node/Sprint_1

#135 User schema
  backend/package-lock.json
  backend/package.json
  backend/src/__test__/models/User.test.js
  backend/src/constants/validations.js
  backend/src/models/User.js
Labels: feature, backend, Node/Sprint_1

#136 Feature/issue 125
  backend/src/__test__/models/Medication.test.js
  backend/src/__test__/models/MedicationCategory.test.js
  backend/src/constants/MedicationCategory/medTypes.js
  backend/src/constants/mocks.js
  backend/src/models/Medication.js
  backend/src/models/MedicationCategory.js
Labels: feature, backend, Node/Sprint_1

#145 Feature/issue 123 - User validator
  backend/src/__test__/models/User.test.js
  backend/src/common/validations.js
  backend/src/mocks/users.js
  backend/src/models/User.js
Labels: feature, backend, Node/Sprint_1
