Repository Nefariusek/CodersCamp2021.Project.React-Node, pull requests merged in 2022-01, with the labels that each got.

#10 Feature/issue6
  frontend/.eslintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/public/apteczka-cutout.png
  frontend/public/lek-cutout.png
  frontend/public/logo_color.png
  frontend/src/__test__/App.test.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.scss
  frontend/src/components/Navbar/ThemeSwitch/ThemeSwitch.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/App/App.scss
Labels: feature, frontend, React/Sprint_1

#9 SignUp Page with SignUp component and full validation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Auth/SignUp/SignUp.jsx
  frontend/src/components/Auth/SignUp/SignUp.scss
  frontend/src/components/Auth/SignUp/signUpValidation.js
  frontend/src/index.jsx
  frontend/src/views/SignUpPage/SignUpPage.jsx
  frontend/src/views/SignUpPage/SignUpPage.scss
Labels: feature, React/Sprint_1

#11 Feature/issue 3
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/lek-cutout.png
  frontend/public/logo .png
  frontend/src/components/Button/button.module.scss
  frontend/src/components/Calendar/Calendar.jsx
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Clock/Clock.jsx
  frontend/src/components/Clock/Clock.scss
  frontend/src/components/Date/Date.jsx
  frontend/src/components/Date/Date.scss
  frontend/src/index.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: feature, frontend, React/Sprint_1

#18 Feature/issue 7
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/App.test.jsx
  frontend/src/components/Auth/SignUp/SignUp.jsx
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Clock/Clock.scss
  frontend/src/components/Date/Date.scss
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/constants/labels.jsx
  frontend/src/constants/paths.jsx
  frontend/src/index.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
  frontend/src/views/LoginPage/LoginPage.jsx
  frontend/src/views/SignUpPage/SignUpPage.jsx
Labels: feature, frontend, React/Sprint_2

#20 Fix unwanted offsets of the navbar itself and the theme slider in it
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/ThemeSwitch/ThemeSwitch.jsx
  frontend/src/sass/styles.scss
  frontend/src/views/App/App.scss
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: bug, frontend, React/Sprint_2

#22 install packages for date picker in issue-14
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, React/Sprint_2

#27 Add Drug Modal with form and validation
  frontend/.eslintrc
  frontend/package.json
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/AddDrug/AddDrugModal.jsx
  frontend/src/components/AddDrug/addDrugValidation.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/DailyDrugsPage/DailyDrugsPage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: feature, frontend, React/Sprint_2

#28 Feature/issue 15
  frontend/package-lock.json
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Clock/Clock.scss
  frontend/src/components/Date/Date.scss
  frontend/src/views/App/App.jsx
  frontend/src/views/App/App.scss
  frontend/src/views/DailyView/DailyView.jsx
  frontend/src/views/DailyView/DailyView.scss
  frontend/src/views/DailyView/DatePicker.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: feature, frontend, React/Sprint_2

#31 Add Theme Provider with defined colors and various changes to match the colors in the project to the theme
  frontend/src/components/Calendar/Calendar.scss
  frontend/src/components/Calendar/MonthlyCalendar.scss
  frontend/src/components/Clock/Clock.jsx
  frontend/src/components/Clock/Clock.scss
  frontend/src/components/Date/Date.jsx
  frontend/src/components/Date/Date.scss
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/App/App.scss
  frontend/src/views/CalendarPage/CalendarPage.scss
  frontend/src/views/DailyView/DailyView.scss
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
  frontend/src/views/LoginPage/LoginPage.jsx
  frontend/src/views/SignUpPage/SignUpPage.jsx
Labels: feature, React/Sprint_3

#44 Enhancement/issue 24
  frontend/.eslintrc
  frontend/src/components/AddDrug/AddDrugModal.jsx
  frontend/src/components/DarkThemeContext/DarkThemeContext.jsx
  frontend/src/components/DarkThemeContext/themeStyles.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/constants/colors.jsx
  frontend/src/index.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/CreditsPage/CreditsPage.jsx
  frontend/src/views/CreditsPage/CreditsPage.scss
  frontend/src/views/DailyView/DailyView.jsx
  frontend/src/views/DailyView/DailyView.scss
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/HomePage/HomePage.scss
Labels: frontend, React/Sprint_4

#34 Initial version of Landing Page, changes for the coexistence of LandingPage and HomePage
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/constants/paths.jsx
  frontend/src/index.jsx
  frontend/src/views/App/App.jsx
  frontend/src/views/HomePage/HomePage.jsx
  frontend/src/views/LandingPage/LandingPage.jsx
  frontend/src/views/LandingPage/LandingPage.scss
  frontend/src/views/LoginPage/LoginPage.jsx
Labels: feature, React/Sprint_3

#43 bug/issue #42
  frontend/src/components/Calendar/Calendar.scss
Labels: bug, frontend

#46 dark theme changes related to forms
  frontend/src/components/AddDrug/AddDrugForm.jsx
  frontend/src/components/Auth/SignUp/SignUp.jsx
  frontend/src/components/DarkThemeContext/themeStyles.jsx
  frontend/src/constants/colors.jsx
  frontend/src/views/LoginPage/LoginPage.jsx
Labels: bug, feature, React/Sprint_4
